# dependencies
node_modules

# next.js build output
.next
out

# environment variables (contains your free API keys — never commit these)
.env.local
.env*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
*.md

# PWA files
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map

public/maps/vietnam.pmtiles