@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
  }

  /* Ngăn iPhone tự động zoom vào input khi click */
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

/* Tùy chỉnh nút Close của Popup Maplibre */
.custom-map-popup .maplibregl-popup-close-button {
  font-size: 20px !important;
  line-height: 1 !important;
  padding: 4px 10px !important;
  color: red !important;
  font-weight: bold !important;
  border-radius: 0 8px 0 8px !important;
  transition: all 0.2s ease !important;
}

.custom-map-popup .maplibregl-popup-close-button:hover {
  background-color: #f1f5f9 !important;
  color: #0f172a !important;
}

.custom-map-popup .maplibregl-popup-content {
  border-radius: 12px !important;
  padding: 12px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
